@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('/wood-texture.jpg');
  background-size: cover;
  min-height: 100vh;
}

body.register-bg {
  background: #f2f2f2 !important;
}
